*{
    padding: 0;
    margin: 0;
 /*   border: 1px solid black;*/
}
body{
    background-color: gray;
    color: white;
}
 .container{
     max-width: 700px;
     margin: 0 auto;
     box-sizing: border-box;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }
 header{
     display: flex;
     justify-content: space-between;
     width: 100%;
     align-items: center;
     padding: 1.2rem 0; 
 }
 header>p{
     font-size: 1.5rem;
     font-weight: 700;
 }
 header>ul {
     display: flex;
 }
 header>ul>li{
     list-style-type: none;
     margin-left: 1.5rem;
 }
 header>ul>li>a{
     text-decoration: none;
     font-size: 1.2rem;
     font-weight: 800;
     padding-bottom: 5px;
     color: white;
 }
 header>ul>li:first-child>a{
     border-bottom: 5px solid blueviolet;
 }
 header>ul>li>a:hover{
     border-bottom: 5px solid blueviolet;
 }
 @media screen and (max-width:600px){
     header{
         flex-direction: column;
     }
 }
 section{
     padding:0 3rem;
     text-align: center;
 }
 section>p{
     margin-bottom: 1rem;
 }
 section>p:first-child{
     font-size: 2rem;
     font-weight: 900;
 }
 section>p:last-of-type{
     font-size: 1.3rem;
     font-weight: 500;
     color: honeydew;
 }
 section>a{
     display: block;
     border: 1px solid black;
     width: 150px;
     font-size: 1.1rem;
     font-weight: 600;
     margin: auto;
     padding: 0.5rem;
     border-radius: 10px;
     text-decoration: none;
     background-color: white;
 }
 footer{
     margin-bottom: 2rem;
     font-size: 1.1rem;
     color: white;
 }
 footer>a{
     text-decoration: none;
     color: blueviolet;
 }